.signup {
  /* padding-top: 10px; */
}


.LoginJumbotron {
  background-color: #007BFF !important ;
  /* padding-top: 1rem; */
}

.m-1 {
  background-color: black;
}

.intro {
  text-align: center;
  font-family: 'Alata', sans-serif;
  font-size-adjust: initial;
  text-decoration-color: white;
}

h1.pageHeader {
  margin: 2px;
  color: aliceblue;
  font-size: 50px
}

.insurance {
  text-align: center;
  color: white;
  font-family: 'Alata', sans-serif; 
  background-color: #007BFF !important;
}

footer {
  text-align-last: center;
}

.cardsHome {
  height: 150px;
  width: 150px;
  background: #007bff42;
  border-radius: 30px;
  display: flex;
}

.insurancecard {
  height: 100vh;
  background: #007bff4d;
  display: inline-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

