.myJumbotron {
    background-color: #007BFF !important ;
    /* background-image: url(../pages/images/formimg.jpg); background-size: 100%; */
    margin-bottom: 5px;
}

.text{
    color:white; 
}
.beneForm{
    padding-top: 20px
}
.introSentence{
    display:flex;
    justify-content:space-between; 
    font-size: 190%; 
}
.beneBtn{
    display:flex;
    justify-content: flex-end; 
}
.gobackBtn{
    margin-right:2%; 
}
.formbtn{
    display:flex; 
    justify-content: space-around;
    margin-top: 5%; 
}

h2 {
    padding-top: 2%;
    text-align: center;
    font-size: 200%;

}

h3 {
    text-align: center;
    font-size: 100%
}

.BForm, .OForm, .WForm {
    background-color: black;

}


/* .formBody {

} */
