.inspages {
  background-color: white;
}

.myJumbotron {
  background-color: #007BFF !important ;
  margin-bottom: 5px;
}

.text{
  color:white; 
  text-align: center;
}

p {
  padding: 20px;
  font-family: 'Baskervville', serif;
  font-size: 18px;
  text-align: justify;
  float: none;
}

img {
  padding-top: 20px;
}