.h4 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.modal-body {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.MButton {
    font-size: 20px;
    padding: revert;
    margin: 10px;
    float: right;
    inline-size: 150px;
}