.loginInput.form-label {
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}

/* .signup {
    height: 100vh;
    background-image: linear-gradient(#000000, #999999);
} */

.form-control {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}

.m-1 {
    font-size: 20px;
    padding: revert;
    margin: 10px;
    float: left;
    inline-size: 150px;
    font-family: 'Playfair Display', serif;
}

.signLink {
    float: right;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
